<!doctype html>
<h1>@Model.GetDescription()</h1>
<p>@Model.GetAddress()</p>
<p>@Model.GetNumber()</p>
<a href='/users/new'>Add another profile</a>
<a href='/users'>View all profiles</a>
<a href="/">Home</a>

<form action="/user/list/clear" method="post">
  <button type="submit" name="button">Clear All Profiles</button>
</form>
